{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}
	
<div class="row">
	<div class="container">

        <div class="col-lg-8 col-lg-offset-2">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h3 class="panel-title">Change Password</h3>
                </div>
                <div class="panel-body text-left">

					<div class="col-lg-6">
						{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
						    {{ form_widget(form) }}
						    <div>
						        <input class="btn btn-default" type="submit" value="{{ 'change_password.submit'|trans }}" />
						    </div>
						{{ form_end(form) }}
					</div>
					<div class="col-lg-6 clearfix">
							<p><strong>Password tips and advice</strong><br>
							Strong passwords are good passwords because they are difficult to guess.
								<ul>
									<li>At least eight characters long</li>
									<li>Have digits or punctuation as well as letters</li>
									<li>Have both uppercase and lowercase letters</li>
								</ul>
							</p>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>