{% extends "::layout.html.twig" %}

{% block title %}Reset{% endblock %}

{% block body %}
		<div class="container">
			<div class="col-lg-4 col-lg-offset-4 text-center">
				<div class="panel panel-default text-center">
					<div class="panel-heading">
						<h3 class="panel-title">Reset</h3>
					</div>
					<div class="panel-body text-left">
						{% include "FOSUserBundle:Resetting:request_content.html.twig" %}
					</div>
				</div>
			</div>
		</div>

{% endblock body %}